# Bases de données
*.sqlite3

# Environnement
.env
.venv/
env/
venv/

# Python compilé
__pycache__/
*.pyc
*.pyo
*.pyd

# Static et media compilés/générés
static/
staticfiles/
media/

# Logs et temporaires
*.log
*.tmp
*.DS_Store

# Autres
*.bak
*.swp
